<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Petition | Save Elephants</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Special+Elite" rel="stylesheet">
  <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/public/css/style2.css">
</head>
  <body>

  {{{body}}}

  </body>
</html>
